a{
	color: #7a4602;
	text-decoration:none;
}
a:hover{
	color:black;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	opacity:0.8;
}

li {
	float: left;
}

li a, .col1{
	display: inline-block;
	color: #dbb470;
	font-size:20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family:arial;
}

li a:hover, .menu1:hover .col1 {
	background-color:white;
}

li.menu1 {
	display: inline-block;
}

.submenu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.submenu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.submenu a:hover {
	background-color:#bd853c;
}

.menu1:hover .submenu {
	display: block;
}
ul li{
	width:20%;
	margin-left:5%;
}
footer{
	width:100%;
	background-color:white;
	padding:2px 0px;
	position:fixed;
    left:0;
    bottom:0;
    width:100%;
	opacity:0.8;
    color:white;
    text-align:center;
	
}
footer p{
	color: #bd853c;
	text-align:center;
	
}
ul.submenu li
{
	width:100%;
}
.submenu
{
	width:16.6%;
}
@media screen and (min-width:400px) and (max-width:700px)
{
	
	ul>li
	{
		width:25%;
	}

	footer
	{
		color:black;
		font-size:3.5vw;
		line-height:1.2rem;
		background-color:gray;
		opacity:0.5;
	}
	
}
