
*
{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

#foto1 {
	margin:5%;
	float:left;
	width:10%;
	height:10%;
}
h1
{
	color:#d1a566;
	margin-left:40%;
	padding: 20px 0px;
	font-family:verdana;
	font-size:40px ;
	margin-top:100px;
	text-shadow:3px 3px 5px black;
	
}
#foto2 {
	
	width:60%;
	height:50%;
	border: 2px solid grey;
	padding: 5px;
	float:left;
}
#p6,#p1,#p7,#p2,#p3,#p5,#p4{
	padding:200px 20px;
	font-size:20px;
	color:gray;
	font-family:verdana;
	text-align:center;
}

#test {
  border: 2px solid grey;
  padding: 5px;
  margin:3%;
 
  overflow: auto;

}
